distribution_shifts/cifar_c/
seqio/
bayes_env/
venv/
research_log/
learn_uncertainty/training_plots/
*.txt
learn_uncertainty/datasets/
*/.ipynb_checkpoints/
learn_uncertainty/training_runs/
mnist/
*__pycache__/
distribution_shifts/mnist_c/
distribution_shifts/robustness/
distribution_shifts/shift_env/
learn_uncertainty/saved_weights/
*dev*
cifar/
